@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  min-height: 100vh;
}

strong {
  color: rgb(219, 139, 215);
}
#root {
  min-height: 100vh;
}

@layer components {
  .input-types {
    @apply rounded-md bg-primary-bg3 focus:outline-none focus:border focus:border-primary-bg1 p-1 w-full;
  }
  .task-group-container {
    @apply flex flex-col bg-primary-bg1 text-white gap-2;
  }
  .task-group-title {
    @apply text-xl font-bold;
  }
  .left-panel-tab {
    @apply bg-primary-bg1 focus:bg-primary-highlight2 focus:border-primary-highlight2 hover:bg-primary-bg3 border-b-2 border-primary-bg0;
  }
}
